<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" href="/static/css/semantic.min.css"/>
    <script src="/static/js/lib.min.js"></script>
    <script src="/static/js/md5.js"></script>
    <style>
        *{ font:12pt Verdana,Arial,Microsoft YaHei,sans-serif; color:#666666; word-wrap:break-word;}
        #screen{margin:0 auto; width:1500px; margin-top:100px; }
        .field label {font-weight: bold;}
        .ui.message .header {font-size: 1em;}
    </style>
    <script type="text/javascript"> 
        function add1() {
			//alert("houhou");
			var ids = new Array(); 		
			var select = document.getElementById("test");
            for(i=0;i<select.length;i++){ 
               if(select.options[i].selected){ 
                  ids.push(select[i].value); 
				 } 
			}
			//alert(ids);
			//alert(typeof(ids))
			var str = JSON.stringify(ids);
			//alert(typeof(str))
            var rolename = $("#rolename").val()
			var level = $("#level").val()
			//var name = $("#name").val()
            if (rolename.length == 0) {
               alert("name 不能为空")
                return false;
            }

			//if (level <= levelrec) {
			//	alert("等级权限不够")
             //   return false;
			//	}

            $.post("{{urlfor "RuleController.DoAddRole"}}", {"rolename":rolename, "level": level, "roleid":str},function(data){
			 if (data.length == 0) {
				alert("添加成功");
                    window.location.href="/";
                } else {
					alert(data);					
					}
			});
        }

    </script>
</head>
<body>
<div class="form-horizontal" style="margin-top:100px;">
    <div class="form-group">
        <label for="name" class="col-sm-4 control-label">组名：</label>

        <div class="col-sm-2">
            <input class="form-control" id="rolename" name="rolename">
        </div>
    </div>

    <div class="form-group">
        <label for="ident" class="col-sm-4 control-label">可执行操作：</label>

        <div class="col-sm-2">
			<select id="test" multiple="true"> 
    			<option value="Id1">1.查看所有用户信息</option>   
   			    <option value="Id2">2.页面跳转平台操作</option>  
 			</select> 
        </div>
    </div>
	
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-4">
            <a class="ui blue submit button" id="add" href="javascript:add1();">添加</a>
        </div>
    </div>
</div>
</body>

</html>