<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" href="/static/css/semantic.min.css"/>
    <script src="/static/js/lib.min.js"></script>
    <script src="/static/js/md5.js"></script>
    <style>
        *{ font:12pt Verdana,Arial,Microsoft YaHei,sans-serif; color:#666666; word-wrap:break-word;}
        #screen{margin:0 auto; width:1500px; margin-top:100px; }
        .field label {font-weight: bold;}
        .ui.message .header {font-size: 1em;}
		.divcss5{text-align:center} 		
   </style> 
    <script type="text/javascript">
        function add() {
            var name = $("#name").val()
            var password = $("#password").val()
			var email = $("#email").val()
			var phone = $("#phone").val()
			var level = $("#level").val()
			var levelrec = $("#levelrec").val()
			var role = $("#role").val()
            if (name.length == 0) {
               alert("name 不能为空")
                return false;
            }

            if (password.length == 0) {
             alert("password 不能为空")
                return false;
            }
			if (email.length == 0) {
              alert("email 不能为空")
                return false;
            }
			if (phone.length == 0) {
             alert("phone 不能为空")
                return false;
            }
			if (level <= levelrec) {
				alert("等级权限不够")
                return false;
				}
			//alert(CryptoJS.MD5(password))
            $.post("{{urlfor "RuleController.DoAddRule"}}", {"name":name, "password": password, "email":email, "phone":phone, "level":level, "role":role},function(data){
			 if (data.length == 0) {
				alert("添加成功");
                    window.location.href="/add";
                } else {
					alert(data);					
					}
			});
        }

    </script>
</head>
<body>
<div class="form-horizontal" style="margin-top:100px;">
    

    <div class="form-group">
        <label for="name" class="col-sm-4 control-label">用户名：</label>

        <div class="col-sm-2">
            <input class="form-control" id="name" name="name">
        </div>
    </div>

    <div class="form-group">
        <label for="ident" class="col-sm-4 control-label">密码：</label>

        <div class="col-sm-2">
            <input class="form-control" id="password" name="password">
        </div>
    </div>

    <div class="form-group">
        <label for="ident" class="col-sm-4 control-label">Email：</label>

        <div class="col-sm-2">
            <input class="form-control" id="email" name="email">
        </div>
    </div>

    <div class="form-group">
        <label for="ident" class="col-sm-4 control-label">Phone：</label>

        <div class="col-sm-2">
            <input class="form-control" id="phone" name="phone"></input>
        </div>
    </div>
	
    <div class="form-group">
        <label for="ident" class="col-sm-4 control-label">分组：</label>

        <div class="col-sm-2">		
			<select class="form-control" id="role" name="role">  
			 <option value="开发" selected="seleted">开发</option>  
			 <option value="运维">运维</option>  
			</select> 

        </div>
    </div>
	
    <div class="form-group">
        <label for="ident" class="col-sm-4 control-label">level：</label>

        <div class="col-sm-2">		
			<select class="form-control" id="level" name="level">  
			 <option value="1">管理员</option>  
			 <option value="2" selected="selected">用户</option>  
			</select> 

        </div>
    </div>
	
    <div>  
      <input class="form-control"  type="hidden" name="levelrec" id="levelrec"  value="{{.levelrec}}">  
    </div>
	
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-4">
            <a class="ui blue submit button" id="add" href="javascript:add();">添加</a>
        </div>
    </div>
</div>
</body>

</html>