
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/css/semantic.min.css"/>

    <script src="/static/javascript/lib.min.js"></script>
    <script src="/static/javascript/md5.js"></script>
	<style>
        *{ font:12pt Verdana,Arial,Microsoft YaHei,sans-serif; color:#666666; word-wrap:break-word;}
        #screen{margin:0 auto; width:420px; margin-top:100px; }
        .field label {font-weight: bold;}
        .ui.message .header {font-size: 1em;}
    </style>
    <script type="text/javascript">
	  //  window.onload = function(){
		//	style="display: none;"
　　   //     document.getElementById("token").style.display="none";//隐藏
		//	var tokens = $("#token").val();
		//	alert(tokens);
		//	$.post("http://alarm.a.com/test",{test:"John"});
		//	$.post("http://10.0.0.150/cookie", { test:token });
	   //     alert(tokens);
			
	//	}
    </script>
</head>
<body>
      <table class="table table-hover text-center" style="width:70%;margin:auto">
  		{{range .hostarr}}		
		<tr>		
		<div style="font-size:50px;margin-top:50px;">
			<input class="btn btn-primary btn-sm" type="button" onclick="if (confirm('确定进入{{.HostName}}平台？')){window.location.href='{{.Id}}';}" value={{.HostName}} />
		</div>
		</tr>
        {{end}}
	</table>
</body>
</html>
