<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>demo</title>
<link rel="stylesheet" type="text/css" href="/static/css/lib/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<style type="text/css">
.drag{
	background: #eee;
	border: #f93 1px solid;
	margin-bottom: 10px;
	font-size: 20px;
	line-height: 2;
	cursor: move;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}
.wrap{
	padding: 10px;
	border: #999 1px dotted;
}
</style>
</head>
<body>
<div id="switchbtn"></div>
<div id="content">
	<keep-alive>
		<component :is="currentView"></component>
	</keep-alive>
</div>
<div id="pop"></div>
<div id="operatorPop"></div>
<!--
<div id="contentWrap">
	<div id="switchUi">
		<button @click="switchUi" class="btn btn-default">切换界面</button>
	</div>
	<node-map v-show="map"></node-map>
	<table-view v-show="!map"></table-view>
</div>
-->

<!-- <script type="text/javascript" src="http://127.0.0.1:8080/dist/common.js"></script> -->
<!-- <script type="text/javascript" src="http://127.0.0.1:8080/dist/index.js"></script> -->
<script type="text/javascript" src="/static/js/lib/vue.js"></script>
<script type="text/javascript" src="/static/js/lib/echarts.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>
<script type="text/javascript" src="/static/js/index.js"></script>
</body>
</html>
